.box{
    position: relative;
}
.boy{
    z-index: 10;
}
.ring{
    top: -70px;
    z-index: 5;
}
.water{
    top: -150px;
}

    /* heading style */
h3::after{
    content: '.pdf';
    color: red;
    background-color: yellow;
}
h3::before{
    content: 'start:';
    color: tomato;
    background-color: yellow;
}
p::first-letter{
    font-size: 30px;
}
P::first-line{
    background-color: aquamarine;
}
::selection{
    background-color: yellow;
}
input::placeholder{
    color: red;
}